body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flashcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#flashcards button {
    flex: 0 0 150px; /* Adjust this width to your preference */
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

#flashcards button:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
}

#flashcards button.selected {
    background-color: #03dac5;
    border: 2px solid #03dac5;
}

#questions {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#questions div {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#questions button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for buttons */
}

#questions button:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
}

#questions button.correct {
    background-color: green;
    color: #fff;
}

#questions button.incorrect {
    background-color: red;
    color: #fff;
}
